<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<h:form>
        <h:panelGrid columns="2" cellpadding="5">  
            <p:outputLabel for="name" value="Name:" />   
            <p:inputText id="name" value="#{createPipeline.name}" required="true" />  
            <p:outputLabel for="diameter" value="Diameter:" />   
            <p:inputText id="diameter" value="#{createPipeline.diameter}" required="true" />  
        </h:panelGrid>  
 
        <p:commandButton value="Save" actionListener="#{createPipeline.create}" action="index.xhtml?faces-redirect=true"/>  
</h:form>
</body>
</html>