<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Index</title>
</h:head>
<h:body>
        <p:menu>
            <p:submenu label="Газопроводы">
                <p:menuitem value="Добавить новый Газопровод" url="/CreatePipeline.xhtml" />
            </p:submenu>
            <p:submenu label="Устройства катодной защиты">
                <p:menuitem value="Добавить новое устройство" url="/index.xhtml" />
            </p:submenu>
        </p:menu>
    </h:body>
</html>